<!DOCTYPE html>
<html>
<head>
<title>Responsive Redesign (BRYTE) </title>
<link rel="stylesheet" href="project-page.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8"/>
</head>
<body>

<div className="App">
  <div class="topnav">
   
    <a href="https://happyhawk567.github.io/cs1300-portfolio/"> <- Back to Portfolio</a>

 
  </div>
          <h1> Shoes R Us</h1> <h2> react app development </h2>
          <div class="summary"> <h3 class="summary"><b> Summary:</b> Used React to create a mock online shoe shopping page called "Shoes R Us"</b>  <br><b> Process: </b> Used React states (as chosen through user input via radio buttons) to create sorting, filtering, and aggregating functionality <br><b> Reflection: </b>  In terms of functionality, one area of improvement is to have a way to refresh the order of the shoes before they were sorted. Design and and resposiveness could be heavily improved upon </div>
     
         
            <h3> Deployed Page</h3>
            <p> Access the react app <a href="https://happyhawk567.github.io/UI-UX-Development/">here </a> or view it below.
            <br></p>
              <h1>  <iframe width="50%" height="400px" src="https://happyhawk567.github.io/UI-UX-Development/" title="" frameborder="0"allowfullscreen></iframe> </h1> 



</div>
    
</body>
</html>