<!DOCTYPE html>
<html>
<head>
<title>Iterative </title>
<link rel="stylesheet" href="project-page.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8"/>
</head>
<body>

<div className="App">
  <div class="topnav">
   
    <a href="https://happyhawk567.github.io/cs1300-portfolio/"> <- Back to Portfolio</a>

 
  </div>
        
          <h1> Radius App Interface: </h1> <h2>  iterative interface design </h2>
          <div class="summary"> <h3 class="summary"><b> Summary: </b>Designed app interface for Radius, a grocery-delivery start-up </b> <br> <br><b> Process: </b> Worked with team to draw initial sketches brainstorming potential page layouts, then combined chosen features in a Balsamiq wireframes & created interactive Figma app mock-up. Created a second iteration implementing feedback from critique sessions and carried out user studies  <br><br><b> Reflection: </b>  If we were to create another iteration using feedback from user studies, changes could include limiting the color palette and removing past delivered orders from home screen  </div>
         
          <h3> Introduction </h3>
          <p> Radius is an emerging 15-minute grocery delivery service based out of Indonesia.
            They capitalize on a network of hyper-local dark stores to deliver groceries quickly and affordably.
        
            Our interface aims to make the online grocery shopping experience intuitive and easy for users.
          Since Radius delivers from multiple grocery stores, our design aims to <b>accurately present the
          options</b> that are available from each store, while also allowing users to easily access items from
          other stores. Additionally, we understand that <b>the heart of Radius is fast delivery</b>. Driven by the
          philosophy that knowledge instills confidence, we were careful to design an interface that communicates
          order statuses as clearly as possible.
          <br>
          Our interface aims to make the online grocery shopping experience intuitive and easy for users.
          Since Radius delivers from multiple grocery stores, our design aims to <b>accurately present the
          options</b> that are available from each store, while also allowing users to easily access items from
          other stores. Additionally, we understand that <b>the heart of Radius is fast delivery</b>. Driven by the
          philosophy that knowledge instills confidence, we were careful to design an interface that communicates
          order statuses as clearly as possible.


          <h3>  Sketches </h3>

          <p>Below you will see four different sketches of interface ideas based upon various design choices. Although they all have a similar style in regards to 
      following a row format for displaying stores and store items, design differences primarily included on how a search bar appears (icon or search bar), app navigation layout, and home page 
      content.
    </p>

     

  <div class="img-row">
    <div class="diagram">

    <img src="images/sketch1.png" alt="sketch1"> </img>
</div>

<div class="diagram">

  <img src="images/sketch2.png" alt="sketch2"> </img>
</div>
<div class="diagram">

<img src="images/sketch3.png" alt="sketch3"> </img>
</div>
<div class="diagram">

    <img src="images/sketch4.png" alt="sketch4"> </img>
    </div>

</div>



    <p>We met as a team to combine our individual sketches into one sketch which can be viewed <a href = "http://127.0.0.1:5500/Portfolio/src/components/Project_Pages/images/finalSketch.pdf" = "_blank">here</a>!
    </p>


        
    <h3>  Wireframes </h3>

    <p>
        Below, you can see wireframes for four different screens made using Balsamiq to demonstrate how the interface of the app will look. Below are some
        descriptions of the design choices made for each screen
      </p>

      <div class="img-row">
        <div class="diagram">
        <h4> Home </h4>
        <img src="images/homePage.png" alt="home page"> </img>
    </div>

    <div class="diagram">
      <h4> Store </h4>
      <img src="images/storePage.png" alt="store page"> </img>
  </div>


    <div class="diagram">
<h4> Checkout </h4>
<img src="images/checkout.png" alt="checkout page"> </img>
</div>

<div class="diagram">
    <h4> Order </h4>
    <img src="images/orderStatus.png" alt="order page"> </img>
    </div>
    
</div>
      <p>
        <b>Home Page:</b> The home page is intentionally made with less text and more images to make instructions clear to the user.
      </p>

      <p>
        <b>Store Page:</b> The store page characterizes all of its content in row format. This is done so all of the store items
        are organized and efficient for a user wanting to purchase groceries.
      </p>
      <p>
        <b>Checkout Page:</b> The checkout page lists all items being purchased in a column and clearly states price, delivery location,
        and payment information.
      </p>

      <p>
        <b>Order Page:</b> The order page shows a clear timeline for users to track the status of their order.
      </p>
            <h3>  First Prototype & Critique </h3>



               <h1><iframe width="50%" height="400"
                  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FH9belwczniSJ2JBvoptgDI%2FRadius-(Crit)%3Fnode-id%3D2%253A2%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D2%253A2"
                  allowFullScreen></iframe>

                </h1> 
                <p>   During a mock-up critique session, we received valuable feedback from our fellow designers, to whom we are grateful. We've organized the feedback as such:</p>

        
        
                    <h4> General </h4>
                     
                        <table>
                          <th className="table-first-column">Feedback received</th>
                          <th className="table-second-column">Our response</th>
                          <tr>
                            <td>Should have a tabbed navigation bar at the bottom</td>
                            <td>
                              
                              Tabbed navigation bars do help to organize an app with many pages. However, they
                              could potentially be distracting to the user, especially if they are not used to it.
                              Due to the simple nature of our prototype, we decided to maintain the simple view
                              without a navigation bar.
                            </td>
                          </tr>
                          <tr>
                            <td>Some of the links on the prototype do not make sense. For example, on the home page, 
                              tapping on Alfamart's order leads to IndoMart's order status page.
                            </td>
                            <td>
                            
                              We agree that this could be confusing. In the revised prototype, only the specific
                              Indomart element will be linked to IndoMart's order status page. We have also removed
                              other confusing links across the prototype.
                            </td>
                          </tr>
                          <tr>
                            <td>Display item count on shopping bag/cart icon.</td>
                            <td>
                             
                              Users would be able to tell from a quick glance how many items they have in their cart.
                            </td>
                          </tr>
                        </table>
                  
        
                      <h4> Home </h4>
                       
                        <table>
                          <th>Feedback received</th>
                          <th>Our response</th>
                          <tr>
                            <td>The store location should be placed at the top (perhaps in the app header).</td>
                            <td>
                            
                              The store location isn't a setting that is often changed. Most users tend to buy groceries
                              from the same place. In the revised edition, we decided to place it where it is in order
                              to reduce clutter in the app header. We also adjusted the font size to make it less distracting. 
                            </td>
                          </tr>
                          <tr>
                            <td>The discount banner's shape and shadow make it look like a big, actionable button.
                              Consider changing the shape or a button inside the banner. Consider also using arrows to
                              indicate that the banner is scrollable.
                            </td>
                            <td>
                           
                              We agree that the discount banner's shadow could potentially be confusing. In our revised prototype,
                              we have removed the shadow. As for the shape of the banner, we decided to keep it as is to maintain
                              a consistent design on the home page. We find an arrows interface to be more appropriate for a pointer
                              device (e.g. desktop). For a mobile device, we decided to use a "page" indicator at the bottom of the carousel.
                              We've made the dots bigger and more visible to make it more obvious that the banner carousel is scrollable.
                            </td>
                          </tr>
                          <tr>
                            <td>The “Store in (Location)” header looks a little out of place and interferes a little with
                              the overall grid structure.
                            </td>
                            <td>
                              To make the view neater, in our revised prototype, we decided to left-align all headers and move the location
                              icon and text to a right-aligned label.
                            </td>
                          </tr>
                        </table>
           
        
                   
                        <table>
                          <th>Feedback received</th>
                          <th>Our response</th>
                          <tr>
                            <td>Add a phone number on the store page so customers can contact the store.</td>
                            <td>
                            
                              We don't feel that this change would bring about much value to the user.
                            </td>
                          </tr>
                          <tr>
                            <td>There’s no way to add to cart when you click on specific item.</td>
                            <td>
                   
                              Our original philosophy was that whatever quantity is shown on the item card is the quantity
                              already in the cart. However, on second thought, we found that this could be confusing to the
                              user. We considered that the conceptual model of selecting the quantity an item before adding
                              it to cart would be more familiar and thereby more intuitive to the user. We have since added
                              the "Add to Cart" button to the item card.
                            </td>
                          </tr>
                        </table>
                  
        
                    <h4>Checkout </h4>
                    
                        <table>
                          <th >Feedback received</th>
                          <th>Our response</th>
                          <tr>
                            <td>There is no option to edit cart contents in checkout page.</td>
                            <td>
                          
                              We totally forgot... Fixed!
                            </td>
                          </tr>
                          <tr>
                            <td>After navigating from home page to checkout page, hitting the back button
                              takes the user to the store page instead of back to the home page.
                            </td>
                            <td>
                             
                              We've fixed this issue. Additionally, we've made the row of store information on the checkout page
                              tappable so that the user can easily navigate back to the store page should they find the need to do so.
                            </td>
                          </tr>
                          <tr>
                            <td>"Submit Order" button is small.</td>
                            <td>
                      
                              We found the button to be of an appropriate size. We also considered making it bigger, but we felt that
                              a button that is too big could potentially result in accidental presses.
                            </td>
                          </tr>
                          <tr>
                            <td>Tapping on items takes you back to the store page, which is confusing.</td>
                            <td>
                         
                              The original intention was to allow the user to navigate back to the specific item card on the store page.
                              However, since the prototype in its current state does not allow such functionality, we have removed these links.
                            </td>
                          </tr>
              </table>
                   
        
                      <h4>Order Status</h4>
                
                        <table>
                          <th>Feedback received</th>
                          <th>Our response</th>
                          <tr>
                            <td>Placing ongoing orders and past orders under the same row, and same section header ("Your previous orders"
                              on the home page) can be quite confusing.</td>
                            <td>
                              {renderAcceptStatus(true)}
                              We concur with this feedback. We considered color-coding the buttons to indicate the status of the order,
                              but we found this to not be the most intuitive nor the neatest solution. We have since moved the
                              "past orders" away, to be accessed via a separate button. We have also renamed the header on the home page
                              to "Orders in progress" to clarify the status of the listed orders.
                            </td>
                          </tr>
                          <tr>
                            <td>Feature request: having a button to recreate orders that are common or often repeated.</td>
                            <td>
                              {renderAcceptStatus(true)}
                              We find this to be a great idea! In our revised prototype, we've added an "Order Again" button to the order status page.
                            </td>
                          </tr>
                        </table>
                        <h3> Revised Prototype </h3>




                      
                            <p> Below is the revised prototype based on feedback. </p>

                            <h1><iframe width="50%" height="400"
                                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F3X3IsHmxG6uYdgItHi8QzD%2FRadius-(User-Testing)%3Fnode-id%3D4%253A874%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D4%253A87"
                                allowFullScreen></iframe>
              
                              </h1> 
                           <h3>User Testing</h3>
                              <p>
                                We used UserTesting.com to complete three user tests, using the revised prototype above. Before beginning the tests,
                                users were given this introduction in order to provide context: <b>“You are in Indonesia
                                  and ordering groceries to your house. Please note this is a prototype, so there is limited
                                  functionality”</b>. Their screen and audio was then recorded as they interacted with the
                                  prototype and responded to prompts.
                              <p> 
                              
                    
                                  <h4> Tasks</h4>
                                  
                                      
                                      <p> <b>Main Task: </b>We asked users to complete one main task: <b>"Add two eggs from Indomart to your cart and check-out the order,
                                      using the address saved as 'home' and the saved credit card for payment"</b>. After completing the task, users
                                      were asked two multiple-choice follow-up questions:</p>
                                      
                                      <ol>
                                        <li>Did you complete the task successfully?
                                          <ul>
                                            <li>Yes, I'm sure I completed the entire task successfully.</li>
                                            <li>No, I'm not sure if I completed the entire task successfully.</li>
                                            <li>No, the task took too long that I gave up.</li>
                                            <li>No, the site's information on navigation was poor.</li>
                                            <li>No, I encountered an error or a bug.</li>
                                            <li>No, I was confused by the task instructions.</li>
                                            <li>No, other (please explain out loud).</li>
                                          </ul>
                                        </li>
                                        <li>Overall this task was:
                                          <ul>
                                            <li>1 - Very difficult</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5 - Very easy</li>
                                          </ul>
                                        </li>
                                      </ol>  
                    
                                    
                                      <p><b> Task Steps: </b>In order for a user to successfully complete this task, they had to complete the following process.
                                        <i>This step breakdown was not provided to users.</i>
                                      </p>
                    
                                      <ol> 
                                        <li>From the list of stores on the home page, click on Indomart.</li>
                                        <li>From the Indomart store page, click on eggs from the list of grocery items.</li>
                                        <li>Choose 2 as the quantity of cartons and click on the “Add to cart” button.</li>
                                        <li>Click on shopping bag icon to get to the check-out page.</li>
                                        <li>On the checkout page, make sure that correct address and payment information is chosen.</li>
                                        <li>Click on the "Submit Order" button.</li>
                                        <li>Done! The user can now see order and delivery details.</li>
                                      </ol>
                    
                                      
                                      <p>
                                        <b>Results: </b>
                                        All three users accurately believed that they succesfully completed the task and they all chose the highest ranking
                                        (5 - Very easy) for task ease.  This is in line with our goal of learnability and user intuitiveness. There were no
                                        errors in the process of completing the task.
                                      </p>
                    
                                      <p>
                                        The only deviation from the outlined process was when one user tried to search for the store
                                        name “Indomart” instead of clicking on it from the home page. We do not count this as an error,
                                        as it is a valid approach for the task and would have achieved the goal if the app was fully implemented.
                                        This course of action supports our decision to implement a search bar, providing one user case scenario of
                                        how the search option could be helpful. Once the user saw that the search option functionality was not
                                        implemented as part of the prototype, they went back to the home page and chose Indomart from the list of stores,
                                        successfully continuing on the path to submitting an order.
                                      </p>
                    
                                    
                    
                                      <p>
                                        <b>Additional Task & Results: </b>
                                        In addition to the main task above, we also asked users to complete a smaller separate task: "<b>Check on the
                                        process of your most recent ongoing order” </b>. This is achieved by clicking on the left-most order on the
                                        "Orders in progress" section of the home page. Again, all three users accurately believed that they successfull
                                        completed the task and they all chose the highest ranking (5 - Very easy) for task ease. We believe that these
                                        results are a positive reflection of the app's learnability. 
                                      </p>
                                 
                                  
                                   <h4> Questions & Responses </h4>
                                 
                                      <p> We asked users a number of questions throughout the process in order to gauge their initial
                                        reactions to the app, as well as some post-test questions to get feedback.
                                        Below is a list of the prompts and a summary of user feedback. </p> 
                    
                                   <table>
                                      <th className="table-first-column">Prompt</th>
                                      <th className="table-second-column">Summary of User Feedback</th>
                                      <tr>
                                        <td>Without leaving the homepage, what are your initial impressions of the app? Explain your answer.</td>
                                        <td>
                                          <b>User 1</b>
                                          <ul>
                                            <li>Likes the color scheme & categorization</li>
                                            <li>Loves seeing the discount</li>
                                          </ul>
                                
                                          <b>User 2</b>
                                          <ul>
                                            <li>Colors stand out (red and gold signify action)</li>
                                            <li>Do not see a brand ("Radius" is just text, doesn't look like brand)</li>
                                            <li>Discount stands out, which is a good thing</li>
                                            <li>Difference between "orders in progress" & "completed orders" is confusing</li>
                                            <li>Likes seeing distance away for each store</li>
                                          </ul>
                    
                                          <b>User 3</b>
                                          <ul>
                                            <li>First thing user notices is discount</li>
                                            <li>Confused by "orders in progress"</li>
                                          </ul>
                                        </td>
                                      </tr>
                    
                                      <tr>
                                        <td>Take as much time as you need to explore this app. Move on to the next task when you're ready</td>
                                        <td>
                                          <b>User 1</b>
                                          <ul>
                                            <li>Likes seeing all the order details, including delivery time and timeline, and the option of re-ordering a previous order</li>
                                            <li>Likes the organization & details of the check-out page</li>
                                          </ul>
                    
                                          <b>User 2</b>
                                          <ul>
                                            <li>For order details, seeing a step-by-step and expected delivery is helpful and matches what the user would expect from a food
                                              delivery app. With the user's hectic schedule, it's nice to be able to check delivery time to make sure she will be
                                              available at that time</li>
                                            <li>Likes seeing delivery fee right at the top of the store details, as it's not hidden</li>
                                            <li>Would like to see more headers for grocery sections, such as "toiletries" and "organic"</li>
                                            <li>In check-out page, recommends making the plus sign for adding delivery address and payment method bolder &
                                              adding a way to remove items from shopping bag</li>
                                            <li>Lots of colors; branding needs more cohesion</li>
                                          </ul>
                    
                                          <b> User 3</b>
                                          <ul>
                                            <li>Likes the layout of the order details because it is familiar</li>
                                            <li>Likes option to order again</li>
                                            <li>Likes the cart view because it is simple but functional, has options to change delivery address, and likes the icons for home and workplace</li>
                                            <li>Search option is understandable and looks great</li> 
                                          </ul>
                                        </td>
                                      </tr>
                    
                                      <tr>
                                        <td>What, if anything, is missing on this app?</td>
                                        <td>
                                          <b>User 1</b>
                                          <ul>
                                            <li>Not missing anything</li>
                                          </ul>
                    
                                          <b>User 2</b>
                                          <ul>
                                            <li>Would like to have option of designating a store to open automatically for recurring customers, with the option of changing it</li>
                                            <li>Needs brand cohesion</li>
                                          </ul>
                    
                                          <b>User 3</b>
                                          <ul>
                                            <li>Confused by what "Radius" means but thinks it's app name</li>
                                            <li>Nothing missing</li>
                                          </ul>
                                        </td>
                                      </tr>
                    
                                      <tr>
                                        <td>How unlikely or likely are you to shop from this app in the future? Explain your answer</td>
                                        <td>
                                          <b>User 1</b>
                                          <ul>
                                            <li>Yes, very likely to use app again (love that there are lots of images in the app & overall organization)</li>
                                          </ul>
                    
                                          <b>User 2</b>
                                          <ul>
                                            <li>Yes. It needs a little work, but would be nice to have if in the area</li>
                                            <li>Would like the option of adding text message updates</li>
                                          </ul>
                    
                                          <b>User 3</b>
                                          <ul>
                                            <li>Pretty likely to shop from this app because it is easy to use and customer friendly</li>
                                            <li>Recommends making design more exciting</li>
                                          </ul>
                                        </td>
                                      </tr>
                                    </table>
                                    </div>
                                  </TabPanel>
                    
                                  <h4> Interface Changes </h4>
                                  
                                  <p>Using users' responses to given questions, we have created a list of interface changes we could implement:</p>
                    
                                  <ul>
                                    <li> More cohesion in the color scheme. We can achieve this by changing all the section headings in the different app pages to the same maroon color used in the home page, as well as changing the background color of each square in the ongoing orders section to the same maroon color.</li>
                                    <li> Clearer branding through creating an intuitive logo (potential example: incorporating a graphic of a grocery bag) and making the app name ("Radius") bigger on the home page. </li>
                                    <li> Adding an option to remove items from cart by having a small red "x" next to each item on the check-out page. </li>
                                    <li> Allowing users to choose favorite stores so that recurring users can find these stores quickly. </li>
                                    <li> Re-naming "Orders in progress" to "Deliveries on the way" to prevent confusion. </li>
                                    <li> In check-out page, make the plus sign for adding delivery address and payment methods bold so it is clear that it is a button. </li>
                                  </ul>
                         
                    
                                  <h4> Recordings</h4>  
                                 
                                    <p>Click on each link to watch the videos of the user tests:</p>
                                    <ul>
                                      <li><a href = {user1} target = "_blank">User 1</a></li>
                                      <li><a href = {user2} target = "_blank">User 2</a></li>
                                      <li><a href = {user3} target = "_blank">User 3</a></li>
                                    </ul>
                              
                           
                         
            </div>
        
</body>
</html>