<!DOCTYPE html>
<html>
<head>
<title>Personas  </title>
<link rel="stylesheet" href="project-page.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8"/>
</head>
<body>

<div className="App">
  <div class="topnav">
   
    <a href="https://happyhawk567.github.io/cs1300-portfolio/"> <- Back to Portfolio</a>

 
  </div>
          <h1> Vending Machine User Experience </h1> <h2> personas & storyboarding </h2>
          <section id="intro">
         
          <div class="summary"> <h3 class="summary"><b> Summary: </b> Mapped out user experience of campus vending machine <br><br><b> Process: </b> Used information from observing users & conducting interviews to create empathy maps & a storyboard  <br> <br><b> Findings: </b>  The vending machine has room for improving its learnability by clarifying the order of steps when ordering. One way this could be done is by increasing the height & size of the screen displaying the steps    </div>
    
          </section>
            <h3> Interface Overview </h3>
          <p> This project focuses on the snack vending machine found at Brown University's CIT (Center for Information Technology). The machine offers a selection of various snacks, and is often used by students, staff, faculty, and campus visitors looking for a quick bite. It accepts multiple forms of payment, including cash, debit cards, Flex Points through Brown's student ID, and ApplePay. Users can check the price of a snack by punching in its corresponding number. In order to purchase a snack, a user must first put in their method of payment, wait for its authorization, and press the number of their chosen snack. The vending machine then drops that snack to the bottom slot, where the user can retrieve it.  These instructions are provided step-by-step in a small screen near the bottom of the vending machine. Below is a picture of this vending machine, along with an annotated diagram of the purchasing interface. Hover on the image to expand. </p>
          <img src="images/vm-sketch.jpg" alt="diagram of vending machine"> </img> 
          <h3> User Observations & Interviews </h3>
          <p> I observed three people's interactions with the vending machine, and then asked them a list of questions to further understand their experiences and difficulties regarding using the vending machine's ordering/payment interface.</p>
          <h4>  Observations </h4>
          <ul><li> User #1 had a quick interaction and seemed that they knew what they were doing from previous experiences. As soon as this user got to the vending machine, they tapped their debit card, waited a second for its authorization, then pressed the button to get their chosen snack and retrieved it.  </li>
            <li>User #2 took a while to look through the snack options. They checked the information of several snacks by pressing in their corresponding numbers. They then swiped their student ID and looked to be reading from the screen near the card slot, following the steps to successfully get their chosen snack. </li>
            <li> User #3 first chose a snack, pressed its number and the order button, and then swiped their card. The student looked to the snack display, seemingly waiting for the snack to drop. They again tried swiping their student ID and waiting. When that didn't work, they tried swiping their ID followed by immediately pressing the snack's number. This also did not work, and a nearby passerby advised them that they need to wait for the card to authorize before pressing the snack number. The student followed this and was finally able to get their snack. The student never seemed to notice the small green screen with instructions, which was located much below eye-level. </li>
            </ul>
          <h4>  Interview Questions & Summary of Answers</h4>
          <ul><li> <b>  Why did you decide to use this vending machine?</b> <br> Everyone answered that they wanted a quick snack. User #2 mentioned that the vending machine accepted Flex Points, so they liked that they wouldn't have to spend their own money.  </li>
            <li><b> Is this your first time using this vending machine? If not, how many times have you used it before? </b><br>User #1 was the only one who had previously used the vending machine. This was their third time, the two previous times being in the past two weeks. </li>
<li><b>>Did you know which snack you wanted to purchase before coming to the vending machine? </b> <br> User #1 knew exactly which snack they wanted to get. User #2 had no idea, since they did now know which snacks were offered until they got to the machine. User #3 knew they wanted chips before seeing the options, but did not have a specific brand/flavor in mind.</li>
       <li> <b>Did you check the price of the snack before purchasing it? If not, do you know how to check the price? </b><br> User #1 had to check the price the first time they used the machine, but did not to check it this time because they already knew how much it cost. User #2 did check the price. User #3 did not but knew how to do so.</li>  
    <li><b> On a scale of 1-10, how intuitive was the process of purchasing a snack? Explain. How can the process be more intuitive?</b> <br> User #1 rated it as a 8, since it could be hard to know where to start ordering the first time, but it quickly becomes clear once you start. User #2 rated it as a 7, since they had to read the instructions on the screen, and it was not originally clear that the instructions would be located there, which could be fixed by making the screen bigger, brighter, and placing it at eye-level. User #3 rated it as a 4 since there was no clear outline that you needed to swipe first, wait, and then use the keypad to order. User #1 and #3 both suggest writing out the steps on the vending machine.‍ </li> 

</ul>
            
            <h3> Persona Maps </h3>
            <p> Using these user observations and interview answers, I created two empathy maps that outline the actions, words, emotions, and thoughts of two different personas that would use this vending machine.   </p>
            <div class="img-row">

              <div class="diagram">
                <h4> Thorough Thelma </h4>
                <p>  Thelma is a CS student who is interacting with this vending machine for the first time. She has a 10-minute break between work and her next class, which are both located at the CIT, so she decides to get a snack. She cares both about taste and saving money, so she takes her time comparing the different options. She does not intuitively know the purchasing process, so she carefully look for and read instructions. <br> <b> Why Thelma?: </b>Thelma's concern with saving money is representative of a lot of college students, who are the main consumers of this vending machine.‍ <br> <b>Interface problems:</b> Since the prices are not written out on the display, it takes a long time to compare each snack's price one-by-one. </p>
                <img src="images/Persona2.jpg" alt="thelma's persona map"> </img> 
              </div>
      <div class="diagram">
          <h4> Tired Tanya </h4>
          <p> Tanya is working on a CS project in the middle of the night and is starting to feel tired. She decides to get an energy drink from the vending machine to help her stay up until she finishes her project.<br> <b> Why Tanya?:</b>  Often, people use a vending machine because of their convenience and to save time from going to a store. Like many others who would choose to use this vending machine, Tanya is in a rush. <br> <b>Interface problems: </b>The instructions screen is not clear or eye-catching, so Tanya is not aware of the step-by-step purchasing process. She does not know that she must wait for her card to authorize before pressing the snack number and it takes her a while to learn this. The process takes her much longer than she anticipates. </p>
          <img src="images/Persona1.jpg" alt="tanya's persona map"> </img>
      </div>
    
   

      </div>
<h3> Storyboard </h3>
      <p>I then imagined the possible step-by-step journey of Thorough Thelma (Persona #1)'s experience with the vending machine, including her motivation, ordering process, and outcome. I represented this journey through a storyboard comprised of six sketched panels. </p>
      <img src="images/storyboard.jpg" alt="thelma's storyboard"> </img> 
</div>
    
</body>
</html>