.projects{
    background-color: black; 
color: #9CA3AF; 
padding-top: 1rem;
padding-bottom: 2.5rem; 
text-align: center; 
}

.header{
    display: flex; 
    margin-bottom: 2rem; 
    flex-direction: column; 
    width: 100%; 

}
h1.header-title{
    margin-bottom: 1rem; 
    color: #ffffff; 
    font-size: 3rem;
    font-weight: 800; 
    

    
    @media (min-width: 640px) { 
      font-size: 2.25rem;
    line-height: 2.5rem; 
     }
}

.gallery{
    display: grid;

padding-inline: 10%;


}




 .card-link{
    background-color: white; 
    padding: 1rem; 
    text-decoration: none;
    margin: 1rem;
    padding-left: 2rem;
padding-right: 2rem; 
padding-top: 2.5rem;
padding-bottom: 2.5rem;  
border-radius: 0.5rem; 
border-color:  #86a9cb; 
    @media (min-width: 640px) { 
      width: 5 
     }

    
 }

 .card-link:hover{
    background-color: rgb(243, 242, 177);
    scale: 1.1;
}

 img.card-image{
width:25%;
float: left;
padding-right: 1rem;
height: auto;
 }

 

 h2.card-text{
color: gray;
font-size: 1.3rem;
font-weight: 200; 
letter-spacing: 0.1em; 
float:right;
width: 50%;
text-align: left;
 }



 h1.card-text{
color: #95bae0; 
font-size: 2.5rem; 
font-style: bold; 
float:left;
width: 45%;
 }

    

 p.card-text{
    line-height: 1.625; 
    color: black;
    float:right;
width: 50%;
text-align: left;
 }



 


